#### Intro To Tuples
- tuple can store any data type
- most important tuples are immutable, once tuple is created you can't update data inside tuple.
- no append, no insert, no pop, no remove
- data is in round braces ()
- tuples are faster than lists

In [1]:
t = (1,2,3,'one','two',3.5)
print(t)

(1, 2, 3, 'one', 'two', 3.5)

- tuple with one element

In [2]:
t = (1,)
print(t)
print(type(t))

(1,)
<class 'tuple'>

- we can use count, index method with tuples only
- we can use len() function with tuples

- mixed

In [3]:
mixed = (1,2,3,4.5,'five',[6,7],(8,9),{'name':"Gorish"})
print(mixed)

(1, 2, 3, 4.5, 'five', [6, 7], (8, 9), {'name': 'Gorish'})

- looping through tuple

In [4]:
mixed = (1,2,3,4.5,'five',[6,7],(8,9),{'name':"Gorish"})
for element in mixed:
    print(element)

1
2
3
4.5
five
[6, 7]
(8, 9)
{'name': 'Gorish'}

- tuple without parenthesis

In [6]:
names = "Gorish Verma",'Prashant Soni','Mayank Saini'
print(names)
print(type(names))

('Gorish Verma', 'Prashant Soni', 'Mayank Saini')
<class 'tuple'>

- tuple unpackging

In [7]:
guitars = ('maneli','eddie','andrew')
g1,g2,g3 = guitars
print(g1)
print(g2)
print(g3)

maneli
eddie
andrew

- we can change or delete data inside list (inside tuple)

In [8]:
favs = ('southern',['tokyo','landscape'])
print(favs)

favs[1][0] = 'new element'
print(favs)

('southern', ['tokyo', 'landscape'])
('southern', ['new element', 'landscape'])

- min max

In [9]:
mixed = (1,3,7,5.4,936,54.6,1021)
print(max(mixed))
print(min(mixed))
print(max(mixed)-min(mixed))

1021
1
1020

- function returning 2 values
- when function returns 2 or more than 2 values it returns in tuple

In [11]:
def func(n1,n2):
    add = n1+n2
    mult = n1*n2
    return add,mult

print(func(45,85))
add, mult = func(45,96)
print(add)
print(mult)

(130, 3825)
141
4320

- something more about tuples, list, str

- tuples creation using range

In [12]:
t = tuple(range(1,11))
print(t)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

- changing tuple into list

In [14]:
t = list((1,2,3,5,4))
print(t)
print(type(t))

[1, 2, 3, 5, 4]
<class 'list'>

- changing tuple into string

In [16]:
t = str((1,2,3,5,4))
print(t)
print(type(t))

(1, 2, 3, 5, 4)
<class 'str'>

- len()

In [17]:
t = (1,2,3,4,5)
print(f'length of tuple is {len(t)}')

length of tuple is 5

- sum()

In [18]:
t =  (1,2,3,4,5)
print(f'sum of the elements of tuple is {sum(t)}')

sum of the elements of tuple is 15